salesforce_sfdx/main/default/flows/autoPermissionSetProfile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>getProfile</name>
        <label>getProfile</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CSRAgent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CSR Agent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPermissionSetHealthCloudPermissionSetLicense</targetReference>
            </connector>
            <label>CSRAgent</label>
        </rules>
        <rules>
            <name>SystemAdministrator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPermissionSetHealthCloudPermissionSetLicense_0</targetReference>
            </connector>
            <label>SystemAdministrator</label>
        </rules>
        <rules>
            <name>TechnicalWriter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentUser.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Writer</stringValue>
                </rightValue>
            </conditions>
            <label>TechnicalWriter</label>
        </rules>
    </decisions>
    <description>Auto assign permission sets when user profile of CSR Agent, System Administrator, or Technical Writer is selected and the user record is saved.</description>
    <interviewLabel>autoPermissionSetGroup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>autoPermissionSetProfile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the current user record by id.</description>
        <name>getCurrentUser</name>
        <label>getCurrentUser</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentUser</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 )</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Assign the Health Cloud Standard permission set</description>
        <name>Assign_Health_Cloud_Standard</name>
        <label>Assign Health Cloud Standard</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudStandard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign the Health Cloud Standard permission set</description>
        <name>Assign_Health_Cloud_Standard_0</name>
        <label>Assign Health Cloud Standard</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>AssignPermissionSetOmniStudioAdmin</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudStandard</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign permission set HealthCloudAdmin to user id</description>
        <name>AssignPermissionSetHealthCloudAdmin</name>
        <label>AssignPermissionSetHealthCloudAdmin</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudAdmin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign permission set HealthCloudApi to user id</description>
        <name>AssignPermissionSetHealthCloudApi</name>
        <label>AssignPermissionSetHealthCloudApi</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>AssignPermissionSetHealthCloudAdmin</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudApi</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign permission set HealthCloudPermissionSetLicense to user id</description>
        <name>AssignPermissionSetHealthCloudPermissionSetLicense</name>
        <label>AssignPermissionSetHealthCloudPermissionSetLicense</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>AssignPermissionSetOmnistudioAccess</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudPermissionSetLicense</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign permission set HealthCloudPermissionSetLicense to user id</description>
        <name>AssignPermissionSetHealthCloudPermissionSetLicense_0</name>
        <label>AssignPermissionSetHealthCloudPermissionSetLicense</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>AssignPermissionsSetHealthCloudMemberServices_0</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudPermissionSetLicense</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign permission set Omnistudio_Access to userid</description>
        <name>AssignPermissionSetOmnistudioAccess</name>
        <label>AssignPermissionSetOmnistudioAccess</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>AssignPermissionsSetHealthCloudMemberServices</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>Omnistudio_Access</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign permissions set OmniStudioAdmin to userid</description>
        <name>AssignPermissionSetOmniStudioAdmin</name>
        <label>AssignPermissionSetOmniStudioAdmin</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>AssignPermissionSetHealthCloudApi</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>OmniStudioAdmin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign the HealthCloudMemberServices permission set to userid</description>
        <name>AssignPermissionsSetHealthCloudMemberServices</name>
        <label>AssignPermissionsSetHealthCloudMemberServices</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>AssignPermissionsSetHealthCloudSocialDeterminantsReadOnly</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudMemberServices</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign the HealthCloudMemberServices permission set to userid</description>
        <name>AssignPermissionsSetHealthCloudMemberServices_0</name>
        <label>AssignPermissionsSetHealthCloudMemberServices</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Assign_Health_Cloud_Standard_0</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudMemberServices</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Assign the Permission set HealthCloudSocialDeterminantsReadOnly</description>
        <name>AssignPermissionsSetHealthCloudSocialDeterminantsReadOnly</name>
        <label>AssignPermissionsSetHealthCloudSocialDeterminantsReadOnly</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Assign_Health_Cloud_Standard</targetReference>
        </connector>
        <flowName>Assign_Permission_Set_to_User</flowName>
        <inputAssignments>
            <name>PermissionSetName</name>
            <value>
                <stringValue>HealthCloudSocialDeterminantsReadOnly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UserId</name>
            <value>
                <elementReference>getCurrentUser.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>