salesforce_sfdx/main/default/flows/CCI_Quick_Links.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>addLinkstoList</name>
        <label>addLinkstoList</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>lstAllRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>strQuickLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateQuickLinks</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>strQuickLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK({!iterateQuickLinks.Link_URL__c},{!iterateQuickLinks.Label},"_blank")&amp;BR()</expression>
    </formulas>
    <interviewLabel>CCI Quick Links {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCI Quick Links</label>
    <loops>
        <name>iterateQuickLinks</name>
        <label>iterateQuickLinks</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>getCCIQuickLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addLinkstoList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Quick_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCCIQuickLinks</name>
        <label>getCCIQuickLinks</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateQuickLinks</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CCI_Quick_Links__mdt</object>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Quick_Links</name>
        <label>Quick Links</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showLinks</name>
            <fieldText>&lt;p>{!lstAllRecords}&lt;/p></fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCCIQuickLinks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lstAllRecords</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>