salesforce_sfdx/main/default/flows/CCI_Set_MTM_Flag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>MTMEli</name>
        <label>MTMEli</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.MTM_Reason_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMTMFalse</name>
        <label>setMTMFalse</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.MTM_Reason_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkReasonResult</name>
        <label>checkReasonResult</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>setMTMFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkResultsValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkResults</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Result__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MTMEli</targetReference>
            </connector>
            <label>checkResultsValues</label>
        </rules>
    </decisions>
    <interviewLabel>CCI Set MTM Flag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCI Set MTM Flag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkReasonResult</targetReference>
        </connector>
        <filters>
            <field>Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Service</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>checkResults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1095A;1095B;1095C;AA Second Review;Account Management Tools;AFHC - Host;AHM Complaint;AHM Exception;AHM Radiology;AHM Therapy;All Inclusive Copayment;Any willing provider;AOR Change Request-DHS;Application Status;Application Tracking;Approved;Appt. Scheduled - No;Appt. Scheduled - Yes;Benefits - Behavioral Health;Benefits - Dependent Pregnancy-Tyson;Benefits - Obstetrics;Benefits Complaint;Benefits-Coverage/Verification;Billing Adjustment;Billing Questions/Issues;Bluecard;BlueCard Provider Finder;Blues Enroll - refer to group;Blues Enroll Issue/e-Enrollment Issue;CHRISTUS;CHS Related;Claims;Claims Complaint;COB;Co-Pay;Coronavirus;Courtesy Review;Date Corrected;Date Invalid;Date Verified;Deductible;Dental Complaint;Drug Override Needed;eBill Manager;E-Billing;Email Log-in ID;Expedited Formal Benefit Inquiry;Filing Process;First Call Resolution;General Questions;General Timing;Group Address/Email Change;Group Cancellation;Group Complaint;Health Advantage Complaint;Health Matters;Military Hold;Military Hold Effective/Term Date;MyBlueprint-Claims;MyBlueprint-CS Question;MyBlueprint-Deductible;MyBlueprint-Find Care;MyBlueprint-Login ID;MyBlueprint-ResetReg;N6 Letter Request;Other Complaint-Explain in documentation;Participation Status;Pay Bill Button/Alacriti/Orbipay;Payment by phone issues;Payment Summary;PCP Change Complaint;PCP Change/Question;PCP/Provider Complaint;Pharm Multiple Clms Per Day;Pharmacy Adjustment Timing;Pharmacy Refill Timing;PHS;Plan/Plan Incoming;PO Outreach;Policy Status;Premium Payment/Delinquent;Pre-service Benefit Inquiry;Privacy/Security;QMB Entitlement Received;Re-Enrollment;Refund/Offset;Request Forms and Supplies;Request Information;Re-Review;Reset Password;SBC;SNF  Skilled Nursing Facility;SNF  Skilled Nursing Facility Approved;SNF  Skilled Nursing Facility Denied;State Continuation Enrollment;Status;Subrogation/Workmans Comp;Successful;System Issues;Tax Information;Telehealth/MDLive;Termination;Termination Questions;Timely Filing;Update TIN Number/Add Group Number;Value-Based Programs Opt-In;Value-Based Programs Opt-Out;Walgreen Network Status;WM Balance - Not Useful;WM COE Benefit - Hip/Knee;WM COE Benefit - Spine;DHS System Issues;Report Exempt/Hours</stringValue>
        </value>
    </variables>
</Flow>