salesforce_sfdx/main/default/flows/Update_User_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assignProductLine</name>
        <label>assignProductLine</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Product_Line__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Line__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignToText</name>
        <label>assignToText</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Departments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Team__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>productLineNotBlank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkTeamisNotblank</name>
        <label>checkTeamisNotblank</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>teamNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignToText</targetReference>
            </connector>
            <label>teamNotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>productLineNotBlank</name>
        <label>productLineNotBlank</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkProductLineNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignProductLine</targetReference>
            </connector>
            <label>checkProductLineNotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>Update User Department {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Department</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkTeamisNotblank</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>