salesforce_sfdx/main/default/flows/Update_User_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <label>assignUserLevelValues</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Secondary_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Secondary_Teams__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.User_Primary_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Teams__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>checkDepartment</name>
        <label>checkDepartment</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checkDepartmentNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Department</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignUserLevelValues</targetReference>
            </connector>
            <label>checkDepartmentNotBlank</label>
        </rules>
    </decisions>
    <interviewLabel>Update User Department {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update User Department</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkDepartment</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>